<div class="container">
    <div class="page-header">
        <h2>Contact List App</h2>
    </div>
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Number</th>
            <th>Action</th>
            </th>
        </thead>
        <tbody>
            <tr>
                <td><input class="form-control" type="text" ng-model="demo.contact.name"> </td>
                <td><input class="form-control" type="text" ng-model="demo.contact.email"> </td>
                <td><input class="form-control" type="text" ng-model="demo.contact.number"> </td>
                <td>
                    <button ng-show="demo.editmode" type="text" class="btn btn-default" ng-click="demo.updateContact(demo.contact._id)"><span class="glyphicon glyphicon-floppy-disk"></span></button>
                    <button ng-show="!demo.editmode" type="text" class="btn btn-default" ng-click="demo.addContact()"><span class="glyphicon glyphicon-plus"></span></button>
                </td>
            </tr>
            <tr ng-repeat="contact in demo.contactList">
                <td>{{contact.name}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.number}}</td>
                <td>
                    <button type="text" class="btn btn-primary" ng-click="demo.editContact(contact._id)"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button type="text" class="btn btn-danger" ng-click="demo.removeContact(contact._id)"><span class="glyphicon glyphicon-remove"></span></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>